.lunbotu{
    width: 100%;
    height: 380px;
}
.lunbotu img{
    height: 380px;
}
.mid .query-card{
    width: 490px;
    height: 300px;
    background-color:white;
    position: absolute;
    z-index: 100;
    margin-top: -340px;
    margin-left: 140px;
    padding: 20px 20px 20px 20px;
    box-sizing:  border-box;
}
.query-card table{
    border-collapse: separate;
}
.query-card table td{
    margin-top: 15px;
}
.query-card .labe{
    float: right;
    width: 60px;
    height: 40px;
    line-height: 25px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.query-card .destin input{
    width: 350px;
    height: 42px;
}
.query-card .ft_time input{
    width: 154px;
    height: 42px;
}
.query-card .keyW input{
    width: 350px;
    height: 42px;
}
.query-card input{
    padding-left: 10px;
    box-sizing: border-box;
}
.query-card .query-button{
    margin-left: 90px;
    margin-top: 20px;
}
.query-card .query-button button{
    width: 300px;
}

.mid-m{
    margin-top: 30px;
    width: 1200px;
}
.mid-m img{
    width: 1200px;
    height: 80px;
}

.mid-f{
    width: 1200px;
    margin-top: 30px;
}
.recomm_place-l{
    float: left;
}
.recomm_place{
    float: left;
}
.recomm_place ul li{
    float: left;
    width: 70px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 100px;
}
.recomm_place .on{
    background-color: rgb(68,153,255);
}
.mid-f .fengefu hr{
    margin-top: 50px;
    border: 3px solid rgb(68,153,255);
}
.recomm_hotel ul li{
    float: left;
    width: 300px;
    height: 260px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}
.recomm_hotel ul li img{
    width: 280px;
    height: 180px;
}
.recomm_hotel .recomm_hotel-name{
    width: 280px;
    height: 36px;
    padding: 10px 6px 10px 6px;
}
.recomm_hotel .recomm_hotel_inf{
    width: 280px;
    height: 34px;
    padding: 0 6px 14px 6px;
}

